.mb-40 {
  margin-bottom: 40px;
}

.py-96 {
  padding: 96px 0;
}

.py-40 {
  padding: 50px 0;
}

.px-56 {
  padding: 23px 56px;
}

.px-47 {
  padding: 23px 47px;
}

.py-120 {
  padding: 120px 0;
}

.py-44 {
  padding: 44px 0;
}

.py-80 {
  padding: 80px 0;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-64 {
  margin-bottom: 64px;
}
