* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lamaBold;
}

@font-face {
  font-family: 'lamaMedium';
  src: url('../fonts/Lama/LamaSans-Medium.otf');
}

@font-face {
  font-family: 'lamaBold';
  src: url('../fonts/Lama/LamaSans-Bold.otf');
}

@font-face {
  font-family: 'lamaBlack';
  src: url('../fonts/Lama/LamaSans-Black.otf');
}

@font-face {
  font-family: 'lamaRegular';
  src: url('../fonts/Lama/LamaSans-Regular.otf')
}

:root {
  --main-color: #E5AF00;
  --blue-color: #1C156D;
  --black: #000;
  --white: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-color);
}

main {
  /* max-width: 1920px; */
  margin: auto;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
}

p {
  font-family: lamaRegular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: lamaBlack;
  color: var(--black);
}

h3,
h4,
h5,
h6 {
  font-family: lamaBold;
}

a {
  text-decoration: none;
}

.navbar-toggler {
  padding: 0;
  border: 0;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.svg);
}

header:has(.show) .navbar-toggler-icon {
  background-image: url(../images/close.svg);
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url(../images/menu.svg);
}

.hero-section {
  min-height: 1500px;
  background:
    linear-gradient(97deg, #F9D87A 0%, #6B6BB2 100%),
    linear-gradient(4deg, #9CDAF4 0%, #9CDAF4 100%),
    #E5AF00;
  border-radius: 0px 0px 100px 100px;
  z-index: 0;
}

.z-index-2 {
  z-index: -2;
}

.hero-section .yellow-section {
  border-radius: 0px 0px 100px 100px;
  width: 100%;
  position: absolute;
  z-index: -1;
  min-height: 70.5%;
  background: #E5AF00;
  top: 0;
}

.hero-section .gradient {
  border-radius: 0px 0px 100px 100px;
  width: 100%;
  top: 1000px;
  position: absolute;
  z-index: -2;
  height: 29.5%;
  ;
  /* background:
    linear-gradient(97deg, #F9D87A 0%, #6B6BB2 100%),
    linear-gradient(4deg, #9CDAF4 0%, #9CDAF4 100%),
    #E5AF00; */
  background-size: 100% 1100px, auto, auto, auto;
  background-repeat: no-repeat;
  background-position: 0 0, 0 0, 0 0, 0 0;
}


.container-fluid,
.container {
  padding: 0;
}


.nav-link:is(:hover, :focus),
.nav-link.active,
.nav-link {
  color: var(--black) !important;
  padding: 4px 0 !important;
}

.nav-link:is(:hover, :focus),
.nav-link.active {
  border-bottom: 2px solid var(--black);
  cursor: pointer;
}

header {
  height: 150px;
}

.navbar>.container-fluid {
  z-index: 1111;
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.z-index-2 img {
  border-radius: 0px 0px 100px 100px;
}

.navbar-collapse .inner-list {
  min-width: 885px;
  height: 72px;
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.80);
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(20px);
  padding: 11px;
}

.fiexd-header .navbar-collapse .inner-list {
  background: transparent;
  backdrop-filter: blur(0);
  border: 0;
}

header:not(.mobile) .navbar-toggler-icon {
  margin-left: 20px;
}

.mobile:not(:has(.collapsed)) .logo {
  height: 72px;
}

.mobile:not(:has(.collapsed)) .navbar-brand,
.mobile:not(:has(.collapsed)) {
  height: 100px;
}

.navbar-collapse .inner-list button:first-child {
  margin-left: 16px;
}

.navbar-collapse .inner-list a.btn {
  padding: 16px 28px;
}

.navbar-collapse .inner-list .btn {
  height: 50px;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  box-shadow: none !important;
  font-family: lamaMedium;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  transition: all 1s;
  border-radius: 12px;
  min-width: fit-content;
}

.navbar-collapse .inner-list .btn:is(:focus, :hover) {
  background-color: var(--blue-color) !important;
}

.navbar-collapse .inner-list .nav-item {
  margin: 0 16px;
}

.navbar-brand {
  width: 170px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 0px 0px 40px 40px;
  background: var(--white);
  display: flex;
  align-items: center;
}

.logo {
  height: 72px;
  margin: auto;
}

.gap-24 {
  gap: 24px;
}

.gap-16 {
  gap: 16px;
}

.gap-40 {
  gap: 40px;
}

.custom-w50 {
  width: calc((100% - 24px)/2);
}

.cw-90 {
  width: 90%;
}

.container-gif {
  height: 686px;
  border-radius: 24px;
  border: 2px solid rgba(255, 255, 255, 0.80);
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(10px);
  padding: 16px;
}

.container-header {
  z-index: 1111;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.fiexd-header {
  border-radius: 16px;
  border: 2px solid rgba(243, 243, 243, 0.80);
  background: rgba(243, 243, 243, 0.50);
  backdrop-filter: blur(20px);
  height: 72px;
}

.fiexd-header:not(:has(.collapsed)) .navbar-collapse .inner-list {
  background: transparent;
  border: 0;
  backdrop-filter: blur(0);
}

.fiexd-header .logo,
.fiexd-header .navbar-brand {
  height: 48px;
  background-color: transparent;
}

#about {
  padding-top: 120px;
}

.btn-white {
  background-color: var(--white);
}

.btn-blue {
  background-color: var(--blue-color);
  color: var(--white);
}

.btn-white:is(:focus, :hover) {
  background-color: var(--blue-color);
  color: var(--white)
}

.btn-blue:is(:focus, :hover) {
  background-color: var(--main-color);
  color: var(--black)
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #000;
}

.btn-transparent:is(:focus, :hover) {
  background-color: var(--blue-color);
  color: var(--white);
  border-color: var(--blue-color);
}

.title-box {
  min-height: 340px;
  border-radius: 24px;
  border: 2px solid rgba(255, 255, 255, 0.80);
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(20px);
  padding: 92px 65px;
  text-align: center;
  display: flex;
  align-items: center;
}

/* why section */
.logo-section .w-300,
.why .w-300 {
  width: 300px;
}

.number .card-number {
  min-width: 180px
}

.why .card-choose {
  min-width: 280px
}

.number .card-number,
.why .card-choose {
  width: calc((100% - 48px)/3);
  min-height: 375px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
  position: relative;
}

.card-choose p {
  color: #3A3A3A;
}

.number .card-number .inner,
.card-choose .inner {
  width: 100%;
  min-height: 319px;
  border-radius: 24px;
  border: 1px solid rgba(239, 239, 239, 0.80);
  background: rgba(250, 250, 250, 0.50);
  padding: 24px;
  transition: all 1s;
}

.border-image {
  border-radius: 16px;
  border: 1px solid rgba(239, 239, 239, 0.80);
  background: rgba(255, 255, 255, 0.80);
  height: 120px;
  flex-shrink: 0;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  position: relative;
}

.card-choose .image {
  width: 200px;
  position: absolute;
  bottom: 0;
}

.card-choose:hover .inner {
  background-color: var(--blue-color);
  transition: all 1s;
}

.card-choose:hover .inner h3 {
  color: var(--white);
  transition: all 1s;
}

.card-choose:hover .inner .border-image {
  background: rgba(255, 255, 255, 0.10);
  border-color: transparent;
  transition: all 1s;
}

.card-choose:hover .inner p {
  color: rgba(255, 255, 255, 0.80);
  border-color: transparent;
  transition: all 1s;
}

/* production */
.production {
  min-height: 500px;
}

.production .bg-img {
  height: 500px;
  border-radius: 24px;
}

.production .bg-img img {
  border-radius: 24px;
}

.production .text {
  border-radius: 24px 24px 0px 0px;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
  padding: 48px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.production .text h3 {
  line-height: 57.6px;
}

.production .text .btn-white:hover {
  background-color: var(--main-color);
  color: #000;
}

.production .small-card {
  min-height: calc((100% - 24px)/2);
  padding: 24px;
  border-radius: 24px;
  /* min-height: 238px; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  transition: all 1s;
}

.blue-card {
  transition: all 1s;
  background: linear-gradient(0deg, rgba(62, 198, 255, 0.12) 0%, rgba(62, 198, 255, 0.12) 100%), var(--white);
}

.blue-icon,
.blue-card:hover {
  transition: all 1s;
  background: #3EC6FF;
}

.purple-card {
  transition: all 1s;
  background: linear-gradient(0deg, rgba(140, 138, 250, 0.12) 0%, rgba(140, 138, 250, 0.12) 100%), var(--white);
}

.purple-icon,
.purple-card:hover {
  transition: all 1s;
  background: #8C8AFA;
}

.yellow-card {
  transition: all 1s;
  background: linear-gradient(0deg, rgba(255, 203, 45, 0.12) 0%, rgba(255, 203, 45, 0.12) 100%), var(--white);
}

.yellow-card:hover {
  transition: all 1s;
  background-color: var(--main-color);
}

.production h3 {
  font-family: lamaBlack;
}

.production .small-card h3 {
  line-height: 50px;
}

.production .small-card:hover .icon {
  background-color: var(--white) !important;
  transition: all 1s;
}



.production .icon {
  width: 64px;
  border-radius: 20px;
  height: 64px;
  padding: 12px;
  position: absolute;
  top: 24px;
  left: 24px;
  backdrop-filter: blur(20px);
}

.production .blue-card .icon {
  transition: all 1s;
  background: #3EC6FF;
}

.production .purple-card .icon {
  transition: all 1s;
  background: #8C8AFA;
}

.production .yellow-card .icon {
  transition: all 1s;
  background: var(--main-color);
}

.small-card .withoutHover {
  display: none;
}

.production .small-card:hover .withoutHover {
  display: block;
}

.production .small-card:hover .hover {
  display: none;
}

.production .small-card:hover h3,
.production .small-card:hover p {
  transition: all 1s;
  color: var(--white);
}


/* number */
.card-number h3 {
  font-family: lamaBlack;
}

.number .card-number {
  min-height: 242px;
  transition: all 1s;
}

.number .card-number .inner {
  min-height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card-number .image {
  height: 116px;
  width: 116px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.card-number:hover .inner {
  border-color: var(--blue-color);
  transition: all 1s;
}

.card-number:hover h3,
.card-number:hover p {
  color: var(--blue-color);
  transition: all 1s;
}

.card-number h3,
.card-number p {
  transition: all 1s;
  color: #000;
  line-height: 50px;
}

/* logo */
.logo-section {
  background-color: var(--blue-color);
}

.logos-600,
.logos {
  height: 64px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
}

.logos-600 {
  width: 600px;
}

.logo-section .font-40 {
  font-family: lamaMedium;
  font-weight: 600;
}

.logo-section .w-350 {
  width: 350px;
}

hr {
  color: var(--white);
}

/* FAQ */
.accordion-body,
.faq-section p {
  color: #9A9A9A;
}

.faq-section .accordion-button {
  justify-content: space-between;
}

.faq-section .accordion-button::after {
  margin: 0;
}

.accordion-button::after {
  background-image: url(../images/Plus.png);
  transition: all 1s;
}

.accordion-button:not(.collapsed)::after {
  transition: all 1s;
  background-image: url(../images/Minus.png);
}

.accordion-body {
  padding: 24px;
}

.faq-section .accordion-item {
  margin-bottom: 32px;
  border-radius: 12px;
  background: #F8F8F9;
}

.faq-section .accordion-item:last-child {
  margin-bottom: 0;
}

.accordion-item .accordion-button {
  box-shadow: none;
  text-align: inherit;
}

.accordion-button {
  border-radius: 12px !important;
  background: #F8F8F9;
  color: #000;
  transition: all 1s;
}

.accordion-button:not(.collapsed) {
  border-radius: 12px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 100%), #F8F8F9;
  transition: all 1s;
  color: #000;
}

/* contact */
.w-460 {
  width: 460px;
}

.w-655 {
  width: 755px;
}

form input,
form input:is(:focus),
form textarea {
  height: 60px;
  border-radius: 12px !important;
  border: 1px solid #A0A0A0 !important;
  background: var(--white);
  box-shadow: none !important;
  outline: 0 !important;
  margin-bottom: 24px;
  color: #9A9A9A;
  font-family: lamaMedium;
  padding: 10px 24px !important;
}

label,
.form-control {
  font-size: 14px !important;
}

form textarea {
  height: 150px;
  padding: 20px 24px !important;
  margin-bottom: 56px;
}

.contact-section form label,
textarea::placeholder,
input::placeholder {
  color: #9A9A9A;
}

.dir-ltr {
  direction: ltr;
}

.img-icon {
  width: 48px;
  height: 48px;
  border-radius: 16px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section {
  background-color: #FEFBF2;
}

.contact-section a {
  color: #939393;
}

.contact-section form label {
  position: absolute;
  padding: 19px 24px;
  height: 100%;
}

.light-gray {
  color: rgba(154, 154, 154, 0.60);
}

.required {
  color: #E22525;
}

/* footer */
footer {
  background-color: var(--main-color);
}

footer .logo-footer {
  width: 146px;
  height: 72px;
}

.box-input input,
.box-input input:focus {
  box-shadow: none;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.box-input {
  width: 461px;
  height: 72px;
  border-radius: 14px;
  background: #F8F8F9;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-input button {
  height: 60px;
  min-width: 197px;
}

.link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

footer a:is(:focus, :hover),
footer a {
  color: var(--black);
}

footer hr {
  color: var(--black);
  margin: 32px 0;
}

.copy-right {
  color: rgba(0, 0, 0, 0.50);
}

/* up to top */
.toTop {
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%), #E5AF00;
  width: 48px;
  height: 48px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 123px;
  transition: all 1s;
  bottom: 100px;
}

.display-none {
  display: none;
}

.display-block {
  display: flex;
}

.toTop:hover {
  background-color: var(--blue-color);
  transition: all 1s;
}

.toTop:hover .white {
  display: block;
}

.toTop .white,
.toTop:hover .black {
  display: none;
}

.social .link-social:hover .withoutHover,
.social .link-social .withHover {
  display: none;
}

.social .link-social:hover .withHover {
  display: block;
}

/* lobbox page */
.form-section,
.verify-section {
  margin-top: 140px;
  border-radius: 40px;
  min-height: 300px;
  margin-bottom: 1rem;
}

.verify-section .vector img,
.form-section .vector img {
  border-radius: 40px;
}

.verify-section .vector,
.form-section .vector {
  border-radius: 40px;
  background-color: var(--blue-color);
}

.verify-section .text,
.form-section .text {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  align-items: center;
}

.home-icon {
  width: 18px;
  height: 18px;
}

.form-section h1 {
  line-height: 56px;
}

.text-yellow {
  color: var(--main-color);
}

section.form .form-select,
section.form .form-control {
  border-color: #E6E6E6 !important;
  border-radius: 12px;
}

.form-select:focus,
.form-select {
  padding: 0 24px;
  background-position: left 0.75rem center;
  box-shadow: none;
  outline: 0;
  border-color: #E6E6E6 !important;
  height: 60px;
  margin-bottom: 24px;
  color: #9A9A9A;
}

.options {
  min-height: 60px;
  display: flex;
  gap: 10px;
  padding: 10px 24px;
  margin-bottom: 24px;
}

.gap-32 {
  gap: 10px 32px;
}

.form-check-input:focus,
.form-check-input,
.form-check-input:checked[type=radio],
.form-check-input:checked[type=checkbox] {
  height: 24px !important;
  width: 24px !important;
  padding: 0 !important;
  border-radius: 3px !important;
  border: 3px solid #C2C2C2 !important;
  margin: 0 !important;
}

.form-check-input:checked[type=radio],
.form-check-input[type=radio] {
  border-radius: 50% !important;
}

.form-check-input:checked[type=radio],
.form-check-input:checked[type=checkbox] {
  background-color: transparent;
  background-image: url(../images/checkBox.svg);
  border-color: #000 !important;
}

.options label {
  color: #9A9A9A;
}

.form-check-input:checked[type=radio]+label,
.form-check-input:checked[type=checkbox]+label {
  color: var(--black);
}

section.form textarea.form-control {
  height: 240px;
  margin-bottom: 80px;
}


/* verify page */
.verify-section .text,
.verify-section {
  min-height: 664px;
}

.verify-section {
  margin: 180px auto 120px;
}

.verification {
  border-radius: 24px;
  border: 2px solid rgba(255, 255, 255, 0.80);
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(10px);
  width: 364px;
  height: 264px;
  margin-bottom: 32px;
}

.btn-yellow {
  background-color: var(--main-color);
}

.w-360 {
  width: 360px;
}

.btn-yellow:is(:focus, :hover) {
  background-color: var(--white);
  color: var(--blue-color);
}

.verify-section h2 {
  line-height: 56px;
}

.w-558 {
  width: 450px;
}


/* Modal */
.modal.show {
  z-index: 111111;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.modal.show .modal-dialog {
  max-width: 100%;
}

.modal-content {
  background-color: transparent;
  width: 570px;
  padding: 24px;
  height: 514px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.modal-body {
  padding: 16px;
}

.modal-body p {
  color: #858585;
}

.btn-close {
  padding: 0;
  opacity: 1;
  width: 40px;
  height: 40px;
  background-size: auto;
  background-image: url(../images/closeModal.svg);
}

.modal-header {
  border-bottom: 0;
}

.circle {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background-color: var(--white);
}

.success-icon {
  background-color: #ECFDF3;
}

.error-icon {
  background-color: #FEF3F2;
}

.icon-modal {
  width: 112px;
  height: 112px;
  margin: 16px auto 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-modal img {
  width: 56px;
  height: 56px;
}

.btn-action {
  border-radius: 12px;
  width: 297px;
  height: 64px;
}

.btn-done,
.btn-done:is(:focus, :hover) {
  color: var(--white);
  background: #12B76A;
}
.btn-error,
.btn-error:is(:focus, :hover) {
  color: var(--white);
  background: #F04438;
}

.btn-cancel {
  width: 177px;
  height: 64px;
  border: 1px solid #1A1A1A;
}

.modal-footer {
  gap: 14px;
}